@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubunt', sans-serif;
}
:root{
    --Oro: #CCA333;
    --Nero: #000000;
    --Nero2: #222;
    --Bianco: #FFFFFF;
    --Grigio: #949494;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--Oro);
    border-left: 10px solid var(--Oro);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--Bianco);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--Bianco);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--Oro);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow:  35px 35px 0 10px var(--Bianco);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow:  35px -35px 0 10px var(--Bianco);
    pointer-events: none;
}

/* Main */
.main{
    position: absolute;
    width:  calc(100% - 300px);
    left:  300px;
    min-height: 100vh;
    background: var(--Bianco);
    transition: 0.5s;
}
.main.active{
    width:  calc(100% - 80px);
    left: 80px;
} 
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.totalBalance{
    position: relative;
    margin-right: 300px;
}
.logo{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotatey(0deg);
    }
    to {
        transform: rotatey(360deg);
    }
}
.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}
.details .recentTransactions{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--Bianco);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--Oro);
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--Oro);
    text-decoration: none;
    color: var(--Bianco);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentTransactions table tr{
    color: var(--Nero);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentTransactions table tr:last-child{
    border-bottom: noneW;
}
.details .recentTransactions table tr:hover{
    background: var(--Oro);
    color: var(--Bianco);
}
.details .recentTransactions table tr td{
    padding: 25px;
}
.details .recentTransactions table tr td:last-child{
    text-align: end;
}
.details .recentTransactions table tr td:nth-child(2){
    text-align: end;
}
.details .recentTransactions table tr td:nth-child(3){
    text-align: center;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-height: 55%;
  overflow: scroll;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--Oro);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #e0af26;
}
.green{
    color: green;
}
.red{
    color: red;
}
.btnPay{
    background: var(--Bianco);
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: red;
    border-radius: 5px;
}

.popup{
    width: 400px;
    background: var(--Oro);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: var(--Nero);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotatey(0deg);
    }
    to {
        transform: rotatey(360deg);
    }
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 25%;
    margin-top: 50px;
    padding: 10px 0;
    color: var(--Nero);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
